.swiper-container {
    width: 100vw;
    height: 100vh;
}
.one{
    width: 100%;height: 100%;
    background: url("../images/slide1/bg.png") no-repeat;
    background-size: contain;
}
.zhuangshi{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.fav{
    width: 1.53rem;height: 1.50rem;
    background: url("../images/slide1/fav.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0.6rem;
    top: 0.75rem;
}
.block{
    width: 5.57rem;height: 5.7rem;
    background: url("../images/slide1/block.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    margin: auto;
}
.gongyi{
    width: 1.32rem;height: 0.65rem;
    background: url("../images/slide1/gongyi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 11.37rem;
}
.price{
    width: 1.88rem;height: 0.71rem;
    background: url("../images/slide1/price.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0.6rem;
    top: 11.37rem;
}
.quanquan {
    width: 9.77rem;
    height: 9.77rem;
    background: url("../images/slide1/quanquan.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    margin: auto;
}
.shoes {
    width: 6.94rem;
    height: 5.73rem;
    background: url("../images/slide1/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    margin: auto;
}
.title{
    width: 2.51rem;height: 1.55rem;
    background: url("../images/slide1/title.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 9.21rem;
}
.arrow{
    width: 0.8rem;height: 0.8rem;
    background: url("../images/slide1/arrow.png") no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 0.5rem;
    left: 0;right: 0;
    margin: auto;z-index: 100;
}

.two{
    width: 100%;height: 100%;
    background: url("../images/slide2/bg.png") no-repeat;
    background-size: contain;
}
.zhuangshi2{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi2.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.shoes2 {
    width: 6.83rem;
    height: 4.82rem;
    background: url("../images/slide2/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;left: 0;
    top: 3.25rem;
    margin: auto;
}
.miaoshu{
    width: 100%;
    height: 100%;
    background: url("../images/slide2/miaoshu.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;left: 0;
    top: 0rem;
}

.three{
    width: 100%;height: 100%;
}
.zhuangshi3{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.shoes3 {
    width: 6.85rem;
    height: 9.55rem;
    background: url("../images/slide3/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
}
.miaoshu3{
    width: 6.34rem;
    height: 3.66rem;
    background: url("../images/slide3/miaoshu3.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.58rem;
    top: 2.77rem;
}
.four{
    width: 100%;height: 100%;
}
.bg4{
    width: 7.50rem;
    height: 6.77rem;
    background: url("../images/slide4/bg.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
}
.zhuangshi4{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi2.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.up{
    width: 6.76rem;height: 5.54rem;
    background: url("../images/slide4/up.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 1.41rem;
}
.shoes4{
    width: 6.33rem;
    height: 3.09rem;
    background: url("../images/slide4/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    bottom: 5.88rem;
    margin: auto;
}
.bg44{
    width: 7.50rem;
    height: 6.77rem;
    background:rgb(255,255,255)
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
}
.miaoshu4{
    width: 6.30rem;
    height: 4.63rem;
    background: url("../images/slide4/miaoshu4.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    margin: auto;
}

.five{
    width: 100%;height: 100%;
}
.zhuangshi5{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.shoes5{
    width: 7.50rem;
    height: 8.27rem;
    background: url("../images/slide5/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 2rem;
}
.miaoshu5{
    width: 6.25rem;
    height: 5.25rem;
    background: url("../images/slide5/miaoshu5.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0.6rem;
    bottom: 0rem;
    margin: auto;
}

.six{
    width: 100%;height: 100%;
}
.zhuangshi6{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.video-box{
    position: absolute;
    left: 0.5rem;top: 3rem;
}
.video-box video{

    width: 6.3rem;height: 4.3rem;
}

.shoes66{
    width: 6.90rem;
    height: 4.56rem;
    background: url("../images/slide6/shoes2.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.3rem;
    bottom: 1.12rem;
}
.miaoshu6{
    width: 3.75rem;
    height: 1.90rem;
    background: url("../images/slide6/miaoshu6.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    top: 0rem;
    margin: auto;
}

.seven{
    width: 100%;height: 100%;
}
.zhuangshi7{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.shushidu{
    width: 6.90rem;
    height: 4.09rem;
    background: url("../images/slide7/shushidu.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 3.48rem;
}
.options{
    width: 6.30rem;
    height: 3.16rem;
    background: url("../images/slide7/options.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    bottom: 1.68rem;
}
.miaoshu7{
    width: 3.75rem;
    height: 1.90rem;
    background: url("../images/slide7/miaoshu7.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    top: 0rem;
    margin: auto;
}

.eight{
    width: 100%;height: 100%;
}
.zhuangshi8{
    width: 1.66rem;height: 1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 0.75rem;
}
.banner1{
    width: 7.50rem;
    height: 6.92rem;
    background: url("../images/slide8/shoes8.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
}
.price8{
    width: 2.69rem;
    height: 1.50rem;
    background: url("../images/slide8/price.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    top: 6.92rem;
}
.miaoshu8{
    width: 3.75rem;
    height: 1.77rem;
    background: url("../images/slide8/miaoshu8.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    top: 7.46rem;
}
.choosesize{
    width: 3.75rem;
    height: 1.01rem;
    background: url("../images/slide8/choosesize.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0rem;
    bottom: 3.57rem;
    margin: auto;
}
.size{
    width: 7.5rem;
    height: 3.1rem;
    background: url("../images/slide8/size.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0rem;
    bottom: 0.57rem;
}
.fav8{
    width: 0.88rem;
    height: 0.88rem;
    background: url("../images/slide8/fav.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.6rem;
    bottom: 1.46rem;
}
.buy{
    width: 6.27rem;
    height: 1.77rem;
    background: url("../images/slide8/buy.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.615rem;
    bottom: 1.06rem;
}
